body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    min-width: 800px;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    margin: 0 10px;
}

header {
    background: linear-gradient(to bottom right, rgb(201, 0, 0), rgb(255, 27, 27));
    color: #f0f8ff;
    position: sticky;
    top: 0;
}

hr {
    margin: 0;
}

.contenedor {
    display: flex;
}

a {
    text-decoration: none;
    color: #f0f8ff;
    font-size: 28px;
    flex-grow: 1;
}

.contenedor__enlaces {
    background-color: transparent;
    text-align: center;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: all 1s;
}

.contenedor__enlaces:hover {
    background-color: #960000;
}

main {
    display: flex;
    height: 1000px;
}

footer {
    background-color: black;
    color: #f0f8ff;
    padding: 20px;
    font-size: 20px;
    
}

